Host bastionET2598
         HostName ip_address
         ForwardAgent yes
         user ubuntu
         IdentityFile ~/.ssh/test
         ControlMaster auto
         ControlPath ~/.ssh/ansible-%r@%h:%p
         ControlPersist yes
         StrictHostKeyChecking no
         
Host HAproxy 
         HostName ip_address
         ForwardAgent yes
         user ubuntu
         IdentityFile ~/.ssh/test
         StrictHostKeyChecking no 
         ProxyCommand ssh -W %h:%p bastionET2598
         
Host devA 
         HostName ip_address
         ForwardAgent yes
         user ubuntu
         IdentityFile ~/.ssh/test
         StrictHostKeyChecking no 
         ProxyCommand ssh -W %h:%p bastionET2598
         
Host devB
         HostName ip_address
         ForwardAgent yes
         user ubuntu
         IdentityFile ~/.ssh/test
         StrictHostKeyChecking no 
         ProxyCommand ssh -W %h:%p bastionET2598
         
Host devC
         HostName ip_address
         ForwardAgent yes
         user ubuntu
         IdentityFile ~/.ssh/test
         StrictHostKeyChecking no 
         ProxyCommand ssh -W %h:%p bastionET2598
